@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 136 58 234;
    --accent-light: 224 204 250;
    --accent-dark: 49 10 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  body {
    background: #13151a;
  }
  .text-gradient {
    background-clip: text;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
}
