---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="prose !prose-invert">
    <Navigation />

    <h1>
      Welcome to <span class="text-gradient">IronWill79's tech blog</span>
    </h1>

    <div class="flex items-center flex-col">
      <h2>Current worldwide cyberthreat live map</h2>
      <iframe
        width="640"
        height="640"
        src="https://cybermap.kaspersky.com/en/widget/dynamic/dark"
        frameborder="0"></iframe>
    </div>

    <!-- Example of Tailwindcss aspect ratio to embed a video -->
    <!--
    <div class="aspect-w-16 aspect-h-9">
      <iframe
        src="https://www.youtube.com/embed/YZ3XBfGj3JA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    -->
  </main>
</Layout>
