---
const platform = "github";
const username = "IronWill79";
---

<footer>
  <p>
    Learn more about my projects at <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >
  </p>
</footer>
