---
import Social from "../components/Social.astro";
---

<footer>
  <p>
    <Social platform="github" username="ironwill79" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
